<?xml version="1.0"?>

<model>
  <name>Floor Arena</name>
  <version>1.0</version>

  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ricardo Grando</name>
    <email>ricardogrando13@gmail.com</email>
  </author>

  <description>
    Floor arena of the Petrobras robotics competition
  </description>
</model>
